@font-face {
  font-family: trueLies;
  src: url('fonts/True Lies.ttf');
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}
.ninja {
  display: none;
  visibility: hidden;
}
.app {
  background: linear-gradient(to bottom right, $sea-light-color, $sea-dark-color);
  box-sizing: border-box;
  font-family: trueLies;
  min-height: 100%;
  position: relative;
  user-select: none;
  width: 100%;
}
.game-controls {
  border-right: 1px solid #000;
  box-sizing: border-box;
  height: 100%;
  padding: 10px;
  position: fixed;
  width: 170px;

  button {
    background-color: #000;
    border: 0;
    color: $sea-light-color;
    cursor: pointer;
    font-family: trueLies;
    font-size: 18px;
    height: 40px;
    margin: 5px;
    width: 100px;

    &:active {
      opacity: 0.7;
    }
  }
}
.sea {
  margin-left: 170px;

  .battlefield {
    display: inline-block;
    height: 400px;
    margin: 20px;
    width: 400px;

    .scale-x, .scale-y {
      cursor: default;
      font-family: trueLies;
      font-size: 120%;
      line-height: 200%;
      text-align: center;
    }
    .scale-x {
      height: $scale-size;
      margin-left: $scale-size;
      width: $fleet-size;

      .scale-char {
        display: inline-block;
        height: 100%;
        width: 10%;
      }
    }
    .scale-y {
      float: left;
      height: $fleet-size;
      padding-top: $scale-size;
      width: $scale-size;

      .scale-char {
        height: 10%;
      }
    }
    .fleet {
      background-image: url('img/svgsquare.svg');
      background-size: 10%;
      border: 1px solid #000;
      cursor: url('img/target.png'),auto;
      height: $fleet-size;
      margin-left: $scale-size;
      position: relative;
      width: $fleet-size;

      .matrix-cell {
        position: absolute;
      }

      .matrix-cell.hit {
        background-image: url('img/dot.svg');
        background-size: 40%;
        background-repeat: no-repeat;
        background-position: 50%;
      }
      .matrix-cell.ship {
        background-image: url('img/brush-square.svg');
        background-size: 100%;
      }
      .matrix-cell.dead {
        background-image: url('img/red_x.svg');
        background-size: 100%;
      }
    }
  }
}