extends layout

block content
  div(class='app')
    div(class='game-controls') Menu
    div(class='sea')
      div(class='battlefield', ng-controller='BattlefieldCtrl')
        div(class='scale-y')
          each val in rows
            div(class='scale-char')= val
        div(class='scale-x')
          each val in cols
            div(class='scale-char')= val
        div(class='fleet', ng-click='matrixClick($event)')
          div(ng-repeat='cell in cells', class='matrix-cell', style='top:{{cell.top}}px; left:{{cell.left}}px; height:{{cell.size}}px; width:{{cell.size}}px;')