doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/assets/bs.css')
  body
    block content
    script(src='assets/libs/require.js', type='text/javascript', data-main='js/main')