@font-face {
  font-family: trueLies;
  src: url('fonts/True Lies.ttf'); }

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative; }

.ninja {
  display: none;
  visibility: hidden; }

.app {
  background: -webkit-linear-gradient(top left, #04c5ff, #0040D0);
  background: linear-gradient(to bottom right, #04c5ff, #0040D0);
  box-sizing: border-box;
  font-family: trueLies;
  min-height: 100%;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%; }

.game-controls {
  border-right: 1px solid #000;
  box-sizing: border-box;
  height: 100%;
  padding: 10px;
  position: fixed;
  width: 170px; }
  .game-controls button {
    background-color: #000;
    border: 0;
    color: #04c5ff;
    cursor: pointer;
    font-family: trueLies;
    font-size: 18px;
    height: 40px;
    margin: 5px;
    width: 140px; }
    .game-controls button:active {
      opacity: 0.7; }
  .game-controls hr {
    border-color: #000; }
  .game-controls input[type='text'] {
    border: 1px solid #000;
    font-family: trueLies;
    font-size: 30px;
    height: 40px;
    margin: 5px;
    text-align: center;
    width: 140px; }

.sea {
  margin-left: 170px; }
  .sea .battlefield {
    display: inline-block;
    height: 400px;
    margin: 20px;
    width: 400px; }
    .sea .battlefield .scale-x, .sea .battlefield .scale-y {
      cursor: default;
      font-family: trueLies;
      font-size: 120%;
      line-height: 200%;
      text-align: center; }
    .sea .battlefield .scale-x {
      height: 10%;
      margin-left: 10%;
      width: 90%; }
      .sea .battlefield .scale-x .scale-char {
        display: inline-block;
        height: 100%;
        width: 10%; }
    .sea .battlefield .scale-y {
      float: left;
      height: 90%;
      padding-top: 10%;
      width: 10%; }
      .sea .battlefield .scale-y .scale-char {
        height: 10%; }
    .sea .battlefield .fleet {
      background-image: url('img/svgsquare.svg');
      background-size: 10%;
      border: 1px solid #000;
      cursor: url('img/target.png'), auto;
      height: 90%;
      margin-left: 10%;
      position: relative;
      width: 90%; }
      .sea .battlefield .fleet .matrix-cell {
        position: absolute; }
      .sea .battlefield .fleet .matrix-cell.hit {
        background-image: url('img/dot.svg');
        background-size: 40%;
        background-repeat: no-repeat;
        background-position: 50%; }
      .sea .battlefield .fleet .matrix-cell.ship {
        background-image: url('img/brush-square.svg');
        background-size: 100%; }
      .sea .battlefield .fleet .matrix-cell.dead {
        background-image: url('img/red_x.svg');
        background-size: 100%; }
